# Binaries for the current project
*.exe
*.dll
*.so
*.dylib
*.bin
*.log
*.test
*.out

# Generated folder
vendor/
bin/
pkg/
tmp/
log/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
*.bak

# Operating system specific files
.DS_Store
Thumbs.db

# Version control
.git/
.gitignore

# Test files
*_test.go

# Documentation
*.md