services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: goodmart-db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d goodmart-db -U user" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

  rabbitmq:
    networks:
      - backend
    image: rabbitmq:4.2.1-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"   # AMQP port
      - "15672:15672" # Management UI
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  mailpit:
    image: axllent/mailpit:v1.27.9
    ports:
      - "1025:1025" # SMTP server
      - "8025:8025" # Web UI
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:8025"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

  grafana:
    image: grafana/otel-lgtm:0.11.11
    ports:
      - "4317:4317"
      - "4318:4318"
      - "3000:3000"
    environment:
      ENABLE_LOGS_ALL: true
    healthcheck:
      test: curl --silent --fail localhost:3000 || exit 1
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      APP_NAME: goodmart-api
      APP_PORT: 8080
      APP_ENV: local
      APP_URL: http://localhost:8080
      POSTGRES_HOST: postgres
      POSTGRES_USERNAME: user
      POSTGRES_PASSWORD: password
      POSTGRES_PORT: 5432
      POSTGRES_SSL_MODE: disable
      POSTGRES_DATABASE: goodmart-db
      POSTGRES_AUTO_MIGRATE: true
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_TLS: false
      REDIS_PASSWORD:
      REDIS_DB: 0
      MAIL_HOST: mailpit
      MAIL_PORT: 1025
      MAIL_USERNAME: no-reply@goodmart.com
      MAIL_PASSWORD: ''
      MAIL_TLS: false
      TRACER_ENABLED: true
      TRACER_EXPORTER_HOST: grafana
      TRACER_EXPORTER_PORT: 4318
      LOGGER_ENABLED: true
      LOGGER_EXPORTER_HOST: grafana
      LOGGER_EXPORTER_PORT: 4318
    healthcheck:
      test: [ "CMD-SHELL", "curl --silent --fail localhost:8080/health/ready || exit 1" ]
      interval: 5s
      timeout: 5s
      retries: 5
    depends_on:
      - grafana
      - postgres
      - redis
      - rabbitmq
      - mailpit

volumes:
  postgres_data:
  redis_data:
  rabbitmq_data:
